body {
    margin: 0;
    padding: 0;
  }
  
  nav {
    width: 100%;
    padding: 10px;
    background-color: rgb(250, 251, 251);
    box-shadow: 5px 10px 15px #64615d;
    display: flex;
    justify-content: space-between; /* Add this to separate the logo and social icons */
    z-index: 10;
    position: fixed;
    top: 0;
  }
  
  .logo {
    height: 95%;
    width: 45%;
    padding: 8px 0 10 0px;
  }
  
  .social-icon {
    display: flex;
    align-items: center;
    font-size: 20px;
  }
  .linkedin:hover{
    font-size: 23px;
  }

  
  .linkedin {
    margin-right: -5px;
    padding: 0 25px 0 25px;
    color: rgb(112, 112, 241);
  }
  
  @media only screen and (max-width: 665px) {
    .logo {
      height: 90%;
      width: 80%;
      padding-top: px;
    }
    nav {
      padding: 20px;
    }
    .linkedin {
      padding: 0 10px 0 10px;
    }
  }
  