@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.tableinfo {
  font-family: 'Poppins', sans-serif;
  display: grid;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 0.9rem;
  background-color: rgb(154, 196, 251);
  overflow-x: auto; /* Enable horizontal scrolling on small screens */
  z-index: 1;
}
.Texthead,h1{
  margin-top: 55px;
  justify-content: center;
  font-size: 2rem;
  text-align: center;
  font-weight: 600;
  color: #0057e7;
}
.Para{
  justify-content: center;
  text-align: center;
  color: #ffffff;
  font-weight: 800;
  font-size: 1.2rem;
}
.input-group{
  height: 70px;
  padding: 0 6rem 0 6rem;

}
.form-control{
  margin-top: 1rem;
  padding-left: 2rem;
  border-radius: 25px 25px 25px 25px;
}

table {
  border-collapse: collapse;
  box-shadow: 0 5px 10px rgb(164, 145, 145);
  background-color: rgba(253, 247, 247, 0.969);
  text-align: left;
  overflow: hidden;
  border: 2px solid black;
  width: 80%; /* Make the table 100% width of its container */
  max-width: 80%; /* Ensure the table doesn't overflow its container */
  margin: 70px 0px 80px 90px ;
}

.thead {

  box-shadow: 0 5px 10px rgb(170, 151, 151);
}

.thclass {
  padding: 1rem 3rem; /* Adjust the padding for smaller screens */
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 1.1rem;
  color: rgb(112, 112, 241);
  font-weight: 600;
}

.tdclass {
  padding: 1rem 3rem; /* Adjust the padding for smaller screens */
  font-weight: 500;
}

.status {
  border-radius: 8px;
  padding: 0.2rem 1rem;
  text-align: center;
}

.pending {
  background-color: rgb(248, 248, 145);
  color: rgba(255, 255, 0, 0.539);
  font-weight: 700;
}

.completed {
  background-color: rgb(145, 248, 164);
  color: rgba(15, 81, 3, 0.539);
  font-weight: 700;
}

.notcompleted {
  background-color: rgb(250, 168, 179);
  color: rgba(112, 6, 29, 0.364);
  font-weight: 700;
}

table tr:nth-child(even) {
  background-color: rgba(128, 128, 128, 0.299);
}

/* Responsive Styles */
@media (max-width: 1336px) {
  .thclass,
  .tdclass {
    padding: 1rem; /* Adjust the padding for smaller screens */
    font-size: 0.6rem; /* Adjust the font size for smaller screens */
  }
   
}
@media (max-width: 705px) and (min-width:614px) {
  
  table{  
   margin: 30px 80px 60px 60px;
   position: relative;
   right: 17px;
 }  
}
@media (max-width: 614px) and (min-width:567px) {
  
  .thclass,
  .tdclass {
    padding: 0.5rem; /* Adjust the padding for smaller screens */
    font-size: 0.6rem; /* Adjust the font size for smaller screens */
  }  
}


@media (max-width: 565px) and (min-width : 494px){
  .thclass,
  .tdclass {
    margin-top: 10px;
    padding:  0.3rem;
    font-size: 0.6rem; 
  }
   table{  
    margin: 30px 80px 60px 60px;
    position: relative;
    left: 17px;
  }  
}

@media (max-width: 494px) and (min-width:446px) {
  
  .thclass,
  .tdclass {
    margin-top: 10px;
    padding:  0.25rem;
    font-size: 0.6rem; 
  }
   table{  
    margin: 30px 80px 60px 60px;
    position: relative;
    left: 10px;
  }  
}
@media (max-width: 446px) and (min-width:427px) {
  .thclass,
  .tdclass {
    margin-top: 10px;
    padding:  0.2rem;
    font-size: 0.6rem; 
  }
   table{  
    margin: 30px 80px 60px 60px;
    position: relative;
    right: 20px;
  }
     
}
@media (max-width: 427px) and (min-width:404px) {
  .thclass,
  .tdclass {
    margin-top: 10px;
    padding:  0.2rem;
    font-size: 0.6rem; 
  }
   table{  
    margin: 30px 80px 60px 60px;
    position: relative;
    right: 20px;
  }   
}
@media  (max-width: 404px) and (min-width:376px){
  .thclass,
  .tdclass {
    margin-top: 10px;
    padding:  0.16rem;
    font-size: 0.6rem; 
  }
  table{  
    margin: 30px 80px 60px 60px;
    position: relative;
    right: 20px;
  }  
}
@media  (max-width: 376px) and (min-width:300px) {
  .tdclass {
    margin-top: 10px;
    padding:  0.1rem;
    font-size: 0.5rem; 
    align-items: center;
  }
  .thclass{
    font-size: 0.4rem; 
    margin-top: 10px;
    padding:  0.2rem;
    align-items: center;  
 }
  table{  
    margin: 0px 80px 60px 60px;
    position: relative;
    right: 20px;
  } 
  .form-control{
    margin-top: 1rem;
    padding-left: 1rem;
    border-radius: 25px 25px 25px 25px;
    height: 40%;
    width: 45%;
    } 
  .form-control::placeholder{
    font-size: 12px;
    color: rgb(166, 166, 166);
  }
}